@font-face {
  font-family: 'dragon-ball';
  src: url('../fontes/Saiyan-Sans.ttf'); 
}

@font-face {
  font-family: 'texto';
  src: url('../fontes/SNICN___.TTF'); 
}
@font-face {
  font-family: 'ssf4';
  src: url('../fontes/SSF4_ABUKET.woff');
}